{% load static %}
{% load static tailwind_tags %}
<!DOCTYPE html>
<html>
<head>
{% tailwind_css %} 

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{% static 'fonts/fontstyle.css' %}" type='text/css'>

<link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'uikit/css/uikit.min.css'%}" rel="stylesheet" type="text/css">
<!-- <link rel="stylesheet" href="{% static 'images/style.css' %}" type="text/css"> -->
<script src="{% static 'js/_hyperscript.js' %}"></script>
<script src="{% static 'js/htmx.min.js' %}"></script>
<script src="{% static 'uikit/js/uikit.min.js' %}"></script>
<script src="{% static 'uikit/js/uikit-icons.js' %}"></script>

</head>

<body class="">
	<header class="bg-red-600 mx-4 p-1 shadow-md border-b-2 border-gray-900 rounded">
		<nav class="flex flex-row flex-wrap justify-between">
			{% if request.user.is_authenticated %}
			  <div class="rounded p-1 text-emerald-700 text-center flex justify-center items-center align-middle gap-2">
				<span class="text-white m-2"><a href="{%url 'index' %}">{{request.user}}</a></span>
				<a href="{%url 'create_profile' %}" class=" text-green-700 bg-white rounded focus:opacity-10 text-xs p-2">CREATE NEW USER</a>
				<!-- <a href="{%url 'profiles_list' %}" class=" text-white bg-cyan-600 rounded focus:opacity-10 text-xs p-2">USER LIST</a> -->
			</div> 
			<span class="enom md:text-md text-center text-white font-semibold m-3">
					{% if request.user.is_authenticated %}
					<form method="POST" action="{%url 'logout' %}">{%csrf_token%}
					<button type="submit" class="border-4 border-white rounded-xl focus:opacity-10">
						<i class="fa-solid fa-x bg-rose-700 p-4 rounded-xl "></i>
					</button>
						</form>
					{%else%}
					<span class=" bg-blue-700 p-4 rounded focus:opacity-10">
						<a href="{% url 'login' %}" class=""> <i class="fa-solid fa-home"></i></a>
					</span>
					{%endif%}

			</span>
			{% endif %}
		</nav>
	</header>
{% block content %}

{% endblock %}
</body>
</html>
